PORT=8000
NODE_ENV=development

# Database
DATABASE_URL="mongodb://localhost:27017/escape-room?replicaSet=rs0&directConnection=true"

# CORS
CORS_ORIGIN=http://localhost:3000

# Session
# You can generate it using `openssl rand --base64 32`
SESSION_SECRET=
# Session cookie max age in milliseconds
SESSION_COOKIE_MAX_AGE=